<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
  <substitutionProperty name="log.base" value="./logs/liusu-bot-listener-web" />
  <jmxConfigurator />

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%date{yyyy-MM-dd hh:mm,CTT} %-5level %logger{10} - %msg%n</pattern>
    </layout>
  </appender>

  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${log.base}.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
    </layout>
  </appender>

  <logger name="com.liusu" level="DEBUG" />
  <logger name="org.apache.shiro" level="WARN" />
  <logger name="org.springframework" level="WARN" />
  <logger name="jdbc.sqltiming" level="WARN" />

  <root>
    <level value="WARN" />
    <appender-ref ref="stdout" />
<!--     <appender-ref ref="logfile" /> -->
  </root>
</configuration>

